@import 
url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: -webkit-linear-gradient(left, #a445b2, #fa4299);
}

/* 
pseudo-element selector (::selection) 
-> digunakan untuk mengatur tampilan teks ketika dipilih/di-highlight oleh user (misal saat kita drag mouse / menyorot teks).
*/
::selection {
    background: #fa4299;
    color: #fff;
}

/* wrapper */
.wrapper {
    overflow: hidden;
    max-width: 390px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, .1);
}
.wrapper .title-text {
    display: flex;
    width: 200%;
    /* background-color: royalblue; */
}
.wrapper .title {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all .6s cubic-bezier(.68, -.55, .265, 1.55);
}
.wrapper .slide-controls {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 5px;
    /* background-color: green; */
}
/* end wrapper */

/* slide-controls */
.slide-controls .slide {
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all .6s ease;
    /* background-color: orange; */
}
.slide-controls label.signup {
    color: #000;
}
.slide-controls .slider-tab {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #a445b2, #fa4299);
    transition: all .6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input[type="radio"] {
    display: none;
}
#signup:checked ~ .slider-tab {
    left: 50%;
}

/* 
Simbol tilde (~) dalam CSS disebut general sibling combinator.
#signup:checked 
-> menargetkan elemen dengan id signup (biasanya input radio/checkbox) ketika dalam keadaan terpilih (checked).

~ label.signup
-> memilih semua elemen label dengan class signup yang:
    (+) berada dalam parent yang sama dengan #signup,
    (+) muncul setelah elemen #signup di urutan HTML (tidak harus langsung bersebelahan).
*/
#signup:checked ~ label.signup {
    color: #fff;
    cursor: default;
    /* pastikan teks tidak bisa di-highlight/diseleksi oleh user. */
    user-select: none;
}
#signup:checked ~ label.login {
    color: #000;
}
#login:checked ~ label.signup {
    color: #000;
}
#login:checked ~ label.login {
    cursor: default;
    user-select: none;
}
/* end slide-controls */

/* form-container */
.wrapper .form-container {
    width: 100%;
    overflow: hidden;
}
.form-container .form-inner {
    display: flex;
    width: 200%;
}
.form-container .form-inner form {
    width: 50%;
    transition: all .6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-inner form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
.form-inner form .field input {
    width: 100%;
    height: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgray;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all .3s ease;
}
.form-inner form .field input:focus {
    border-color: #fc83bb;
    /* box-shadow: 1px 1px 9px rgba(251, 106, 174, .25); */
}
.form-inner form .field input::placeholder {
    color: #999;
    transition: all .3s ease;
}
form .field input:focus::placeholder {
    color: #b3b3b3;
}
.form-inner form .pass-link {
    margin-top: 5px;
}
.form-inner form .pass-link {
    margin-top: 5px;
}
.form-inner form  .signup-link {
    text-align: center;
    margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a {
    color: #fa4299;
    text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
    text-decoration: underline;

}
/* end form-container */

/* form .btn */
form .btn {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
form .btn .btn-layer {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #a445b2, #fa4299, #a445b2, #fa4299);
    border-radius: 5px;
    transition: all .4s ease;
}
form .btn:hover .btn-layer {
    left: 0;
}
form .btn input[type="submit"] {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
/* end form .btn */